@font-face {
  font-family: 'UnifrakturCook';
  src: url('/UnifrakturCook-Bold.ttf');
  font-weight: bold;
}

:root {
  --sans-serif: 'Source Sans Pro', sans-serif;
  --serif: 'Supermercado One', cursive;
  --display: 'UnifrakturCook', cursive;
  font-family: var(--sans-serif);
  --fg: black;
  --bg: white;
  --dark-bg: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: hsl(30deg, 3%, 50%);
    --bg: hsl(300deg, 10%, 5%);
    --dark-bg: 1;
  }
}

.sans-serif {
  font-family: var(--sans-serif);
}

.serif {
  font-family: var(--serif);
}

.display {
  font-family: var(--display);
}

h1, h2, h3, h4 {
  margin: 1rem 0 2rem;
}

h1 {
  font-family: var(--display);
  text-align: center;
  font-size: 6rem;
  line-height: .875;
  margin-top: 4rem;
  letter-spacing: .05ch;
}

h2 {
  font-family: var(--serif);
  font-size: 4rem;
}

h3 {
  font-size: 1.5rem;
}

.visually-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

audio {
  max-width: 100%;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 3.5rem;
    margin-top: 2.75rem;
  }

  h2 {
    font-size: 2.75rem;
  }
}
